* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  

body {
    background-color: #f6f6f6;
}

h1 {
    color: #FFF;
font-family: "Poppins";
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 172px;
margin-top: 155px;
}
.hero {
    width: auto;
    height: 514px;
    flex-shrink: 0;
    background: url(img/hero.png);
    background-size: cover;
}
.white {
    color: #FFF;
font-family: "Poppins";
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-left: 174px;
padding-bottom: 48px;
}


.discoverbutton {
    color: #FFF;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-flex;
    padding: 10px 10px 8px 10px;
    align-items: center;
    gap: 6px;
    border-radius: 4px;
    background: #76d02f;
    margin-left: 174px;
}


.navlist {
    color: #FFF;
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
display: flex;
    list-style: none;
    gap: 32px;
    padding-top: 24px;
    align-items: center;
justify-content: right;
padding-right: 24px;
}

.navlist a {
    text-decoration: none;
    color: #FFF;
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.bookbutton {
    color: #FFF;
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #2fd0c6;
}

h2 {
    color: #000;
text-align: center;
font-family: "Poppins";
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 40px;
padding-bottom: 24px;
}

.cardgroup {
    display: inline-flex;
    align-items: center;
    gap: 64px;
padding-right: 80px;
padding-left: 80px;
}

.cardgr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 8px;
    gap: 16px;
    border-radius: 8px 8px 0px 0px;
    background: #FFF;
    border-bottom: 10px solid #76d02f;
}
.cardbl {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 8px;
    gap: 16px;
    border-radius: 8px 8px 0px 0px;
    background: #FFF;
    border-bottom: 10px solid #2fd0c6;
}
.cardpp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 8px;
    gap: 16px;
    border-radius: 8px 8px 0px 0px;
    background: #FFF;
    border-bottom: 10px solid #d02fb6;
}

h3 {
    color: #595656;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    padding-bottom: 24px;
}

p {
    color: var(--gray, #595656);
font-family: "Poppins";
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin: 0;
}

.rect {
    position: absolute;
    margin-top: -380px;
    margin-left: 20px;
}

.bestservice {
    background-image: url(img/service.png);
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 56px;
    margin-bottom: 56px;
}

.squarecard {
    display: flex;
    width: 200px;
    padding: 8px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 24px;
    text-align: center;
}

.numbers {
    color: #303030;
    font-family: "Poppins";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
    margin-bottom: 0;
    margin-top: 0;
}

.cardtext1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.squarecardgroup {
    display: flex;
    align-items: flex-start;
    gap: 64px;
    margin-right: 40px;
    margin-left: 40px;
}

.popular {
display: inline-flex;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #fff;
opacity: 0.8;
mix-blend-mode: overlay;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0. 0.25);

color: #000;
text-align: center;
font-family: Poppins;
font-size: 32px;
margin-bottom: -12px;
z-index: 1;
}

.ourdes {
    background-image: url(img/map.png);
    display: flex;
    opacity: 0.8;
    background-size: cover;
    background-repeat: none;
}

.destcards {
    display: flex;
    flex-direction: column;
    gap: 24px;
justify-content: center;
align-items: center;
width: 800px;
padding: 24px 0 24px 0px;
}


.destination {
    display: flex;
    padding-right: 16px;
    gap: 24px;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.cardtitle {
    color: #303030;

text-align: center;
/* small title */
font-family: "Poppins";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.small {
    color: #303030;

    /* body */
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;       
}

.destext {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    width: 280px;
}

ul {
    list-style: none;
    color: #FFF;

/* small title */
font-family: "Poppins";
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;

}
.blue {
    display:flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #2fd0c6;
}

.gray {
    display:flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #818181;
}

ul {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
}

.more {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 10px;
    font-weight: 100;
    justify-content: center;
}

.bestpkg {
    background-color: white;
    padding-top: 56px;
    padding-bottom: 56px;
    background-image: url(img/bubble.png);
    background-size: contain;
}


.bestcard {
    display: inline-flex;
    padding: 16px 0 16px 0;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    width: 300px;
    gap: 24px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.besttext {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.button {
    padding: 10px 16px;
    border-radius: 4px;
    background: #76d02f;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
}

.bestgroup {
    display: flex;
    gap: 56px;
justify-content: center;
padding-bottom: 40px;
}

.stepcard {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 56px;
    margin-top: 40px;
    margin-left: 40px;
    border-left: 10px solid #76d02f;
}

.cardtext {
    background-color: #FFF;
    border-radius: 10px;
    width: 319px;
    padding: -0px 10px 24px 10px;
    text-align: center;
}

.testimonial {
    background-image: url(img/suitcase.png);
    background-size: cover;
    background-repeat: none;
    margin-bottom: 56px;
}

.bigquote {
    margin-left: 85px;
    margin-top: -24px;
    opacity: 0.5;
}

.voicetext {
    display: inline-flex;
    flex-direction: column;
}

.voicecard {
    background-color: #FFF;
    border-radius: 10px;
display: flex;
align-items: flex-start;
width: 500px;
padding: 16px 40px 16px 40px;
margin-bottom: 56px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.voicegroup {
    display: flex;
justify-content: center;
padding-bottom: 24px;
    gap: 60px;
}

footer {
    background-color: #000;
    display: flex;
    gap: 80px;
    justify-content: center;
    padding-top: 56px;
    padding-bottom: 80px;
}

.footerlogo {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
}

.smallp {
    color: #FFF;
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;  
}

.listtitle {
    color: #FFF;

font-family: "Poppins";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.footercompany {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 12px;
}

.subtext {

    color: #818181;
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background-color: #fff;
    border-radius: 8px 0px 0px 8px;
    padding: 8px 10px 4px 10px;
}

.send {

background-color: #818181;
padding: 4px;
border-radius: 0px 8px 8px 0px;
}

.box {
    display: inline-flex;
}

.social {
    display: inline-flex;
    flex-direction: column;
    gap: 24px;
}